<h3>Hello <%=@company.name%></h3>

<%= form_with model: @port, :mission => 'new', local: true do |f| %>

    <%= f.hidden_field :port_id, value: session[:port_id] %>

    <%=f.label :title, "Name of Port"%>
    <%=f.text_field :title%><br>
    
    <%=f.label :item, "Item"%>
    <%=f.text_field :item%><br>
    <h3>Missions</h3>
    <%= f.fields_for :missions, @port.missions do |mf|%>
        <%=mf.label :ship, "Brief Mission Info"%><br>
        <%=mf.text_field :ship%><br>
    <%end%>

    <%=f.submit "Create"%>
<%end%>