<h3>Hello <%=@company.name%></h3>

<%= form_for @port do |f| %>
    
    <% if @port.errors.any? %>
        <div id="error_explanation">
        <h2>Error:</h2>
        <ul>
            <% @port.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <%= f.hidden_field :port_id, value: session[:port_id] %>

    <%=f.label :title, "Name of Port"%>
    <%=f.text_field :title%><br>
    
    <%=f.label :item, "Item"%>
    <%=f.text_field :item%><br>
    
    <h3>Missions</h3>
    <%= f.fields_for :missions, @port.missions do |mf|%>
        <%=mf.label :ship, "Brief Mission Info"%><br>
        <%=mf.text_field :ship%><br>
         <%= mf.label :complete, "Complete?"%>
        <%= mf.check_box :complete %><br>
    <% end %>

    <%=f.submit "Create"%>
<%end%>