<h1>Ports Index</h1>

<%=link_to "New Mission", new_mission_path%><br>
<ol>
<% @ports.each do |p| %>
    <li>
    <p>Port Name: <%=p.title%></p>
    <p>Item: <%=p.item%></p>
    <%=p.mission.ship%>
    </li>
<% end %>
</ol>

<%= button_to "Sign Out", session_path, method: :delete %>