<h1>Ports Index</h1>


<h4><% if logged_in? -%>Welcome, <%= current_user.name %><% end -%></h4>

<%= form_tag(ports_path method: :get) do %>
    Search for a Port: <%= text_field_tag :title, params[:title] %>
    <%= submit_tag 'Search', name: nil %>
<% end %>

<%=link_to "New Port", new_port_path%><br>

<%= button_to "Sign Out", session_path, method: :delete %>

<ol>
<% @ports.each do |p| %>
    <li>
    <% p.companies.each do |pc|%>
        <p>Company: <%=pc.name%></p>
    <% end %>
    <p>Port Name: <%=p.title%></p>
    <p>Item: <%=p.item%></p>
    <%=link_to "Edit or Delete, Ports Show Path", port_path(p)%><br><br>
    
    </li>
<% end %>
</ol>


