<h1>Welcome to New Docks</h1>

<%= form_with model: @port, local: true do |f| %>

    <!--<%=f.label "Name of Port"%>
    <%=f.text_field :title%><br>-->
    
    <%= f.label :title, "Port Name"%>
    <%= f.collection_select :title, Port.all, :id, :title %><br>

    <%= f.label :item, "Item"%>
    <%= f.collection_select :item, Port.all, :id, :item %><br>

    <!--<%=f.label "Item"%>
    <%=f.text_field :item%><br>-->

    <%=f.submit "Create"%>
<%end%>