<h1>Welcome to Ports Show</h1>
<%= button_to "Sign Out", session_path, method: :delete %>

<ol>
    <li>
    <% @port.companies.each do |company| %>
        <h3>Company Name: <%=company.name%></h3>
    <% end %>    
    
    <h3>Port Title: <%=@port.title%></h3>
    <h3>Port Items: <%=@port.item%></h3>

    <h3>Completed Missions:</h3>
    <%= link_to "All Mission", port_missions_path(@port)%>
    <ul>
    <% @port.missions.complete.each do |miss| %>
        <li>
            <p>Brief Mission Info: <%= miss.ship %></p>
            <p>Complete: <%= miss.complete%></p>
        </li>
        <% end %>
    
    </ul><br>

    <%= link_to "Edit Port", edit_port_path(@port)%><br><br>
    <%= link_to 'Delete', port_path(@port), method: :delete %><br><br>
    <%= link_to "Port Index", ports_path%><br><br>
    
    </li>
</ol>

