<h1>New Company "Signup Path"</h1>
 
<%= form_for @company do |f|%>
    <% if @company.errors.any? %>
        <div id="error_explanation">
        <h2>Error:</h2>
        <ul>
            <% @company.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    
    <%=f.label :name%>
    <%=f.text_field :name%><br><br>
    
    <%=f.label :password, 'Password'%>
    <%=f.password_field :password%><br><br>

    <%= f.submit "Welcome"%>
<%end%>