<h1>New Company "Signup Path"</h1>

<%= form_with model: @company, local: true do |f|%>
    <%=f.label :name%>
    <%=f.text_field :name%><br><br>
    
    <%=f.label :password, 'Password'%>
    <%=f.password_field :password%><br><br>

    <%= f.submit "New Company"%>
<%end%>