<h3>Hello <%=@company.name%></h3>

<%= form_for @mission do |f| %>

    <% if @mission.errors.any? %>
        <div id="error_explanation">
        <h2>Error:</h2>
        <ul>
            <% @mission.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    
    <%= f.hidden_field :company_id, value: session[:company_id] %>

    <%= f.hidden_field :port_id %>

    <%=f.label :ship, "Brief Mission Info"%><br>
    <%=f.text_field :ship%><br>
    
    <%=f.submit%>
<%end%>