<h3>Hello <%=@company.name%></h3>

<%= form_with model: @mission, :port => 'new', local: true do |f| %>
    
    <%= f.hidden_field :company_id, value: session[:company_id] %>

    <%= f.hidden_field :port_id, value: session[:port_id]%>

    <!--<%= f.fields_for :port do |f|%>
    <%= f.label :title, "Port Name"%>
    <%= f.collection_select :title, Port.all, :id, :title %><br>

    <%= f.label :item, "Item"%>
    <%= f.collection_select :item, Port.all, :id, :item %><br>-->
    <%end%>
  
    <%=f.label :title, "Name of Port"%>
    <%=f.text_field :title%><br>
    
    <%=f.label :item, "Item"%>
    <%=f.text_field :item%><br>
  
    <%=f.label :ship, "Brief Mission Info"%><br>
    <%=f.text_field :ship%><br>
    
    <%=f.submit%>
<%end%>