<h1>Mission Index</h1>

<h4><% if logged_in? %>Welcome, <%= current_user.name %><% end %></h4>

<%=link_to "New Port", new_port_path%><br>

<%= button_to "Sign Out", session_path, method: :delete %>

<ol>
<% @missions.each do |m| %>
    <li>
    <h5>Company: <%=m.company.name%></h5>
    <h5>Port: <%=m.port.title%></h5>
    <h5>Shipment Info: <%=m.ship%></h5>
    <h5>Complete <%= m.complete %></h5>
    <%=link_to "Back", port_path(m.port, m)%><br>
    <%=link_to "Mission Show", port_mission_path(m.port, m)%>
    
    </li>
<% end %>
</ol>

