<h1>Mission Index</h1>

<%=link_to "New Mission", new_mission_path%><br>

<ol>
<% @missions.each do |m| %>
    <li>
    <p>Company: <%=m.company.name%></p>
    <p>Shipment Info: <%=m.ship%></p>
    
    <!--<%=link_to "Port Index", ports_path(m)%><br>-->
    <%=link_to "Show Your Mission, Mission Path", mission_path(m)%>
    </li>
<% end %>
</ol>

<%= button_to "Sign Out", session_path, method: :delete %>