<h1>Mission Index</h1>

<h4><% if logged_in? -%>Welcome, <%= current_user.name %><% end -%></h4>

<%=link_to "New Port", new_port_path%><br>


<%= button_to "Sign Out", session_path, method: :delete %>

<ol>
<% @missions.each do |m| %>
    <li>
    <p>Company: <%=m.company.name%></p>
    <p>Port: <%=m.port.title%></p>
    <p>Shipment Info: <%=m.ship%></p>
    <p>Complete <%= m.complete %></p>
    <%=link_to "Back", port_path(m.port, m)%><br>
    <%=link_to "Mission Show", port_mission_path(m.port, m)%>
    
    </li>
<% end %>
</ol>

