<h1>Mission Show</h1>

<ol>
<li>
<h3><%=@mission.company.name%></h3>
<h3><%=@mission.port.title%></h3>
<h3><%=@mission.port.item%></h3>
<h3><%=@mission.ship%></h3>
</li>
</ol>

<%= @mission.company.name%><br>

<%= @mission.ship%><br>
<%= link_to "Edit Mission", edit_mission_path(@mission)%><br>
<%= link_to 'Delete', mission_path(@mission), method: :delete %><br>
<%= button_to "Sign Out", session_path, method: :delete %>