<h1>Docks Index</h1>
<ol>
<% @docks.each do |d| %>
    <li>
    <p>Dock Name: <%=d.title%></p>
    <p>Item: <%=d.item%></p>
    <p>Shipment Info <%=d.missions%></p>
    <%=link_to "New Mission", new_mission_path%>
    </li>
<% end %>
</ol>

<%= button_to "Sign Out", session_path, method: :delete %>